<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav>
      <a href="/user/signup">¡Registrate!</a>
      <br>
      <a href="/user/login">¡Accede!</a>
      <br>

      {{#if isAdmin}}
      <a href="/main/private">Accede a la administración</a>
      {{/if}}
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>